<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://unpkg.com/vue-router@2.0.0"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Exercicio 1</title>
</head>
<body>
    <div id="ex1">
        <h2>Contact us</h2>
        <label>Name</label> <br/>
        <input class="form-control" v-model="name" type="text" placeholder="Your name"> <br/> <br/>
        
        <label>Email adress</label> <br/>
        <input class="form-control" v-model="email" type="text" placeholder="name@example.com"> <br/> <br/>

        <label>Gender</label> <br/>
        <input type="radio" id="male" value="Male" v-model="gender">
        <label for="male">Male</label>
        <input type="radio" id="female" value="Female" v-model="gender">
        <label for="female">Female</label> <br/><br/>

        <label>From where did you hear about us?</label> <br/>
        <select class="form-control" v-model="refer">
            <option disabled value=""></option>
            <option>Newspaper</option>
            <option>Internet</option>
            <option>Television</option>
        </select>
        <br/><br/>
        <label>You are a:</label> <br/>
        <select class="form-control" v-model="profession" multiple>
            <option>Developer</option>
            <option>Graphic Designer</option>
            <option>Manager</option>
            <option>Company Head/CEO</option>
            <option>Janitor</option>
        </select> <br/><br/>
        <label>Which of our service are you interested in?</label> <br/>
        <input type="checkbox" id="online" value="Online" v-model="interested">
        <label for="online">Online Tests</label>
        <input type="checkbox" id="paper" value="Paper" v-model="interested">
        <label for="paper">Paper Based Tests</label>
        <input type="checkbox" id="customized" value="Customized" v-model="interested">
        <label for="customized">Customized Tests</label> <br/><br/>

        <label>Your message</label> <br/>
        <textarea class="form-control" v-model="message"></textarea> <br/><br/>

        <input type="checkbox" id="terms" value="True" v-model="terms">
        <label for="terms">Agree to Terms & Conditions</label> <br/><br/>
        <button type="button" class="btn btn-primary" style="background-color: rgb(56, 56, 243)" @click="activate">Submit</button> <br/><br/>
        <div v-if="show == true">
            <ul>
                <li>name: {{name}}</li>
                <li>email: {{email}}</li>
                <li>gender: {{gender}}</li>
                <li>refer: {{refer}}</li>
                <li>profession: {{profession}}</li>
                <li>message: {{message}}</li>
                <li>interested: {{interested}}</li>
                <li>terms: {{terms}}</li>
            </ul>
        </div>
    </div>
    <script>
        new Vue({
            el: "#ex1",
            data: {
                name: '',
                email: '',
                gender: '',
                refer: '',
                profession: [],
                interested: [],
                message:'',
                terms: '',
                show: false,
            },
            methods:{
                activate: function(){
                    this.show = !this.show;
                }
            }
        })
    </script>
    <style>
        body{
            margin-left: 5%;
            margin-top: 3%;
            font-family: Georgia, serif;
            margin-right: 7%;
        }
        h2{
            font-weight: bold;
        }
        label{
            font-weight: bold;
        }
    </style>
</body>
</html>